*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    /* width: 100%; */
    min-height: 100vh;
    background: linear-gradient(150deg, #7CF5FF ,  #4379F2);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    
}

h1 img{
    width: 30px;
    margin-right: 10px;
}

.container button{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    color: #654520;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.5 #F87A53 ease;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 80px;
    background-color: #795757;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 10px;

}

.input-box img{
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    color: #fff;
    background-color: #fff;
    padding: 7px;
    border-radius: 50%;
}